:root {
  /* --max-width: 1100px; */
  /* width: 100%; */
  /* --border-radius: 12px; */
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #317873 0deg,
    #5f9ea0 55deg,
    #a0d6b4 120deg,
    #667b68 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(160,214,180, 0)
  );

  --tile-start-rgb:160,214,180;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #317873,
    #317873,
    #a0d6b4,
    #a0d6b4,
    #a0d6b4,
    #a0d6b4,
    #a0d6b4
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: #0885ff33;
  text-decoration: none;
}


.spinning-icon {
  transition: transform 0.3s;
}

.spinning-icon:hover {
  animation: spin 3s infinite linear;
}
.loop-spinning {
  animation: spin 3s infinite linear;
}

.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 33vh;
}