/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 231, 203, 117;
  --background-start-rgb: 191, 167, 93;
  --background-end-rgb: 191, 167, 93;
}

/* :root {
  --foreground-rgb: 52, 102, 152;
  --background-start-rgb: 153, 204, 204;
  --background-end-rgb: 191, 167, 93;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 226, 181, 67;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 154 210 203;
  }
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  background: -webkit-linear-gradient(
    left,
    /* transparent, */ rgb(var(--background-end-rgb), 0.8),
    rgb(var(--background-start-rgb), 0.9),
    rgb(var(--foreground-rgb), 0.8)
  );
}

body.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}

body.hideX .pace {
  display: none !important;
  background-color: transparent;
}

#root-layout {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-bottom: -10;
}

#root-layout h1 {
  /* margin: 3; */
  color: #333;
}

.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}

.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider .social-icon a {
  margin: 0 3px;
}

.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}

.block-sec .vid-area {
  z-index: 99;
}

.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}

section.testimonials {
  overflow: hidden;
}

.contact-page .pages-header {
  overflow: hidden;
}

div#ieatmaps iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

button.nb {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

button.nb:hover {
  background: #fff;
  color: #222;
}

.replay {
  cursor: pointer;
}

.pace-done #preloader:after {
  bottom: 0;
}

#preloader {
  top: 0;
  left: 0;
}

.pace-done #preloader {
  visibility: hidden;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.pace-done #preloader:after,
.pace-done #preloader:before {
  height: 0;
  -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -o-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

body.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}

body.hideX .pace {
  display: none !important;
  background-color: transparent;
}

.app-footer .social a {
  margin-right: 4px;
}

.main-content {
  .sec-head h3 {
    font-size: 60px;
    font-weight: 700;
    position: relative;
  }

  .sec-head .tbg {
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    font-size: 15vw;
    font-weight: 900;
    line-height: 1;
    background: linear-gradient(180deg, #fff 0%, rgba(17, 18, 21, 0.2) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
  }

  .sec-head .tbg b {
    font-weight: 500;
    font-size: 12vw;
  }

  .main-content {
    position: relative;
    z-index: 999999;
    background: transparent;
  }

  .masonery .gallery .items {
    margin-top: 30px;
  }

  .masonery .container-fluid {
    padding: 0 100px;
  }

  @media (max-width: 768px) {
    .masonery .container-fluid {
      padding: 0 20px;
    }
    .sec-head h3 {
      font-size: 34px;
    }
    .sec-head {
      margin: 0 auto 30px;
    }
  }

  .masonery .item-img {
    padding: 5px 15px 20px;
    border-radius: 10px;
    background: #18191d;
    position: relative;
  }

  .masonery .item-img .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
  }

  .masonery .item-img .img {
    border-radius: 10px;
    overflow: hidden;
  }

  .masonery .item-img .img img {
    transition: all 0.4s;
  }

  .masonery .item-img .img:hover img {
    transform: scale(1.1);
  }

  .masonery .item-img .cont {
    margin-top: 20px;
    text-align: center;
    position: relative;
  }

  .masonery .item-img .cont h6 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .masonery .item-img .cont .sta {
    position: absolute;
    top: -47px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.05);
    font-size: 12px;
  }

  .masonery .item-img .cont .sta.coming {
    background: #03be5f;
  }

  .masonery .item-img .cont .sta.new {
    background: #ff4b4b;
  }
}

.pt-10 {
  padding-top: 220;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.custom-heading {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}
/* Reset some default margin and padding for consistency */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* Set default font size for different elements */
h1 {
  font-size: 2rem;
  font-weight: 100;
  line-height: 2.1rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  transition: color 0.6s, text-decoration 0.4s;
}

a:hover {
  color: rgb(var(--foreground-rgb));
  margin: 11;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-icon {
  transition: transform 0.3s;
}

.spinning-icon:hover {
  animation: spin 3s infinite linear;
}
.loop-spinning {
  animation: spin 3s infinite linear;
}

.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 33vh;
}

/* ----------------------------------------------
 * Button styles 
 * ---------------------------------------------- */

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(var(--background-start-rgb));
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: rgba(var(--background-end-rgb));
}

/* ====================== [ Start progress-wrap ] ====================== */
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: "\f077";
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: 900;
  color: rgba(var(--background-start-rgb));
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.progress-wrap svg.progress-circle path {
  stroke: rgba(var(--background-end-rgb));
  stroke-width: 4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap svg path {
  fill: none;
}

/* ====================== [ End progress-wrap ] ====================== */

.circle-bg {
  position: relative;
}

.circle-bg .circle-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.circle-bg .circle-color.fixed {
  position: fixed;
  pointer-events: none;
  opacity: 0.5;
}

.circle-bg .gradient-circle {
  position: absolute;
  left: -250px;
  top: 250px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 70%;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(var(--foreground-rgb)),
    rgba(var(--foreground-rgb), 0.9)
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(var(--foreground-rgb)),
    rgba(var(--foreground-rgb), 0.9)
  );
  background-image: linear-gradient(
    45deg,
    rgba(var(--foreground-rgb)),
    rgba(var(--foreground-rgb), 0.9)
  );
  opacity: 0.25;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

.circle-bg .gradient-circle.two {
  left: auto;
  top: -250px;
  right: -250px;
  bottom: auto;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(var(--background-start-rgb)),
    rgba(var(--background-start-rgb), 0.9)
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(var(--background-start-rgb)),
    rgba(var(--background-start-rgb), 0.9)
  );
  background-image: linear-gradient(
    45deg,
    rgba(var(--background-start-rgb)),
    rgba(var(--background-start-rgb), 0.9)
  );
}
.main-content {
  background: #111215;
  position: relative;
  z-index: 3;
  overflow-x: hidden !important;
}

.line {
  position: absolute;
  height: 1px;
  width: 65%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2896bb),
    color-stop(#d9e9e6),
    to(#e2b543)
  );
  background: -webkit-linear-gradient(left, #2896bb, #d9e9e6, #e2b543);
  background: -o-linear-gradient(left, #2896bb, #d9e9e6, #e2b543);
  background: linear-gradient(to right, #2896bb, #d9e9e6, #e2b543);
}

.line.top {
  top: 0;
}

.line.bottom {
  bottom: 0;
}

.line.left {
  left: 0;
}

.line.right {
  right: 0;
}

.line-v {
  position: absolute;
  height: 80px;
  width: 1px;
  background: #c5a47e;
  left: 50%;
  opacity: 0.3;
}

.line-v.top {
  top: -30px;
}

.line-v.bottom {
  bottom: -30px;
}

.particles {
  min-height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.particles .cont h1 {
  font-size: 90px;
  font-weight: 800;
}

.particles .animation-wrapper {
  opacity: 0.5;
}

svg.CircularProgressbar {
  width: 110px;
}
section.testimonials.section-padding {
  overflow: hidden !important;
}
.slick-prev,
.slick-next {
  display: none !important;
}
header.particles.circle-bg.valign {
  overflow: hidden;
}
.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feat .items {
  margin-top: 50px;
  padding: 60px 40px;
  position: relative;
  z-index: 3;
}

.feat .items:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 1px;
  background: #18191d;
  z-index: -1;
}

.feat .items:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: 0px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2896bb),
    color-stop(#d9e9e6),
    to(#e2b543)
  );
  background: -webkit-linear-gradient(left, #2896bb, #d9e9e6, #e2b543);
  background: -o-linear-gradient(left, #2896bb, #d9e9e6, #e2b543);
  background: linear-gradient(to right, #2896bb, #d9e9e6, #e2b543);
  z-index: -2;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.feat .items .icon {
  color: #aaa;
  font-size: 70px;
  margin-bottom: 30px;
}

.feat .items .icon svg {
  width: 1em;
  height: 1em;
}

.feat .items.active:before {
  opacity: 1;
}

.feat .items.active .more-stroke span {
  width: 30px;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.feat .items.active .more-stroke span:after,
.feat .items.active .more-stroke span:before {
  width: 12px;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.feat .items:hover .more-stroke span {
  width: 30px;
}
.feat .items:hover .more-stroke span:after,
.feat .items:hover .more-stroke span:before {
  width: 12px;
}

.color-font {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2896bb),
    color-stop(#d9e9e6),
    to(#e2b543)
  );
  background: -webkit-linear-gradient(left, #2896bb, #d9e9e6, #e2b543);
  background: -o-linear-gradient(left, #2896bb, #d9e9e6, #e2b543);
  background: linear-gradient(to right, #2896bb, #d9e9e6, #e2b543);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ontop {
  position: relative;
  z-index: 7;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}
.slider .parallax-slider .swiper-slide .bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}
.showstyle .caption h1 .stroke {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.full-width {
  width: 100% !important;
}
.showcase-full .parallax-slider .caption h1 .stroke {
  margin-bottom: 10px;
}

.slider .swiper-pagination-fraction.top .swiper-pagination-current {
  font-size: 60px;
  font-weight: 700;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}

.slider .swiper-pagination-fraction.top .swiper-pagination-current:after {
  content: "/";
  color: #fff;
  position: relative;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 100;
}

/* ====================== [ Start Overlay ] ====================== */
[data-overlay-dark],
[data-overlay-light] {
  position: relative;
}

[data-overlay-dark] .container,
[data-overlay-light] .container {
  position: relative;
  z-index: 2;
}

[data-overlay-dark]:before,
[data-overlay-light]:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

[data-overlay-dark]:before {
  background: #121319;
}

[data-overlay-light]:before {
  background: #fff;
}

[data-overlay-dark] h1,
[data-overlay-dark] h2,
[data-overlay-dark] h3,
[data-overlay-dark] h4,
[data-overlay-dark] h5,
[data-overlay-dark] h6,
[data-overlay-dark] span,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark span,
.bg-color h1,
.bg-color h2,
.bg-color h3,
.bg-color h4,
.bg-color h5,
.bg-color h6,
.bg-color span {
  color: #fff;
}

[data-overlay-dark] p,
.bg-dark p,
.bg-color p {
  color: #dad6d6;
}

[data-overlay-dark="0"]:before,
[data-overlay-light="0"]:before {
  opacity: 0;
}

[data-overlay-dark="1"]:before,
[data-overlay-light="1"]:before {
  opacity: 0.1;
}

[data-overlay-dark="2"]:before,
[data-overlay-light="2"]:before {
  opacity: 0.2;
}

[data-overlay-dark="3"]:before,
[data-overlay-light="3"]:before {
  opacity: 0.3;
}

[data-overlay-dark="4"]:before,
[data-overlay-light="4"]:before {
  opacity: 0.4;
}

[data-overlay-dark="5"]:before,
[data-overlay-light="5"]:before {
  opacity: 0.5;
}

[data-overlay-dark="6"]:before,
[data-overlay-light="6"]:before {
  opacity: 0.6;
}

[data-overlay-dark="7"]:before,
[data-overlay-light="7"]:before {
  opacity: 0.7;
}

[data-overlay-dark="8"]:before,
[data-overlay-light="8"]:before {
  opacity: 0.8;
}

[data-overlay-dark="9"]:before,
[data-overlay-light="9"]:before,
[data-overlay-color="9"]:before {
  opacity: 0.9;
}

[data-overlay-dark="10"]:before,
[data-overlay-light="10"]:before {
  opacity: 1;
}

/* ====================== [ End Overlay ] ====================== */

.slider
  .parallax-slider
  .swiper-slide-active
  .caption
  h1[data-splitting]
  .char {
  -webkit-animation: fadeInUp 0.5s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation: fadeInUp 0.5s cubic-bezier(0.3, 0, 0.7, 1) both;
  -webkit-animation-delay: calc(60ms * var(--char-index));
  animation-delay: calc(60ms * var(--char-index));
}

.slider .parallax-slider .swiper-slide-active .caption .thin,
.slider .parallax-slider .swiper-slide-active .caption .butn,
.slider .parallax-slider .swiper-slide-active .caption h1,
.slider .parallax-slider .swiper-slide-active .caption p {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.slider .parallax-slider .caption h1 {
  font-size: 65px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.slider .parallax-slider .caption p {
  color: #eee;
  margin-top: 15px;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.o-hidden {
  overflow: hidden;
}

.showcase-carus {
  height: 100vh;
}

.showcase-carus .swiper-container {
  height: 100%;
}

.showcase-carus .caption h1,
.showcase-carus .copy-cap h1 {
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
  position: relative;
}

.showcase-carus .copy-cap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase-carus .copy-cap .cap h1 span {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.showcase-carus .copy-cap .cap h1 .stroke {
  color: #fff;
  -webkit-text-stroke: 0;
}

.showcase-carus.circle-slide .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.showcase-carus.circle-slide .swiper-slide .bg-img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin: auto;
  background-position: center center;
}

.showcase-carus.circle-slide .swiper-slide .bg-img:before {
  border-radius: 50%;
}

.showcase-carus.circle-slide .caption,
.showcase-carus.circle-slide .copy-cap {
  position: absolute;
  top: 0;
  left: -25%;
  width: 100%;
  height: 100%;
}

.showcase-carus.circle-slide .caption h1,
.showcase-carus.circle-slide .copy-cap h1 {
  font-size: 70px;
  display: block;
}

.showcase-carus.circle-slide .caption h1 .stroke,
.showcase-carus.circle-slide .copy-cap h1 .stroke {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.showcase-carus.circle-slide .caption h1 span,
.showcase-carus.circle-slide .copy-cap h1 span {
  margin-left: auto;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.showcase-carus.circle-slide .copy-cap .cap h1 span {
  color: #fff;
  -webkit-text-stroke: 0;
}

.showcase-carus.circle-slide .copy-cap .cap h1 .stroke {
  color: #fff;
  -webkit-text-stroke: 0;
}

.showcase-carus.circle-slide .caption h1 .stroke,
.showcase-carus.circle-slide .copy-cap h1 .stroke {
  -webkit-transform: skewX(0) translateX(0);
  -ms-transform: skewX(0) translateX(0);
  transform: skewX(0) translateX(0);
  opacity: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.showcase-carus.circle-slide .caption h1 span,
.showcase-carus.circle-slide .copy-cap h1 span {
  -webkit-transform: skewX(0) translateX(0);
  -ms-transform: skewX(0) translateX(0);
  transform: skewX(0) translateX(0);
  opacity: 1;
}

.showcase-carus .caption h1,
.showcase-carus .copy-cap h1 {
  font-size: 60px;
  left: auto;
  margin-left: 20px;
}
.showcase-carus.circle-slide .caption h1,
.showcase-carus.circle-slide .copy-cap h1 {
  font-size: 65px;
}
.showcase-carus.circle-slide .caption {
  left: 0;
  text-align: center;
}

.showcase-carus.circle-slide .copy-cap {
  display: none;
}

.showcase-carus .swiper-slide .bg-img {
  margin: 0;
  height: 100vh;
  background-position: center center;
}

.showcase-carus.circle-slide .caption h1,
.showcase-carus.circle-slide .copy-cap h1 {
  font-size: 50px;
  min-width: auto;
  margin: auto !important;
  left: 0;
}

.showcase-carus.circle-slide .caption h1,
.showcase-carus.circle-slide .copy-cap h1 {
  font-size: 40px;
}

.circle-slide .swiper-slide .bg-img {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: 880px !important;
  width: 880px !important;
  margin: auto !important;
}
.circle-slide .swiper-slide.swiper-slide-active .bg-img {
  opacity: 1;
  visibility: visible;
}
.circle-slide .swiper-slide .bg-img {
  height: 580px !important;
  width: 580px !important;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .circle-slide .swiper-slide .bg-img {
    height: 380px !important;
    width: 380px !important;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .circle-slide .swiper-slide .bg-img {
    height: 330px !important;
    width: 330px !important;
  }
}

.showstyle {
  height: 100vh;
}

.showstyle .swiper-container {
  height: 100%;
}

.showstyle .swiper-slide .bg-img {
  height: 75vh;
  margin: -3vh 0 0;
}

/*
  ====================== [Start Responsive] ======================
  */
@media screen and (max-width: 991px) {
  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
  }

  .bg-img {
    background-position: center !important;
  }

  .md-mb10 {
    margin-bottom: 10px;
  }

  .md-mb20 {
    margin-bottom: 20px;
  }

  .md-mb30 {
    margin-bottom: 30px;
  }

  .md-mb40 {
    margin-bottom: 40px;
  }

  .md-mb50 {
    margin-bottom: 50px;
  }

  .md-mb60 {
    margin-bottom: 60px;
  }

  .md-mb70 {
    margin-bottom: 70px;
  }

  .md-mb80 {
    margin-bottom: 80px;
  }

  .md-pb10 {
    padding-bottom: 10px;
  }

  .md-pb20 {
    padding-bottom: 20px;
  }

  .md-pb30 {
    padding-bottom: 30px;
  }

  .md-pb40 {
    padding-bottom: 40px;
  }

  .md-pb50 {
    padding-bottom: 50px;
  }

  .md-pb60 {
    padding-bottom: 60px;
  }

  .md-pb70 {
    padding-bottom: 70px;
  }

  .md-pb80 {
    padding-bottom: 80px;
  }

  .order2 {
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
  }

  .order1 {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }

  .container {
    max-width: 720px;
  }

  .navbar {
    min-height: 60px;
  }

  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background: #11141b;
    text-align: center;
    display: block !important;
    opacity: 0;
    transition: all 0.3s linear;
    height: 0;
    padding: 0;
    transform-origin: top;
  }

  .navbar .nav-link {
    margin: 10px auto !important;
  }

  .navbar .logo {
    margin-left: 15px;
    width: 50px;
  }

  .nav-scroll .navbar-collapse .nav-link,
  .light .navbar-collapse .nav-link {
    color: #fff !important;
  }

  .nav-scroll .navbar-collapse .active,
  .light .navbar-collapse .active {
    color: #12c2e9 !important;
  }

  .navbar .search {
    border: 0;
    padding: 0;
    margin-top: 30px;
  }

  .navbar .search .search-form {
    display: block !important;
    position: static;
    height: auto;
    opacity: 1 !important;
  }

  .navbar .search .search-form form {
    position: static;
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .navbar .search .search-form form input {
    padding: 15px;
    width: 100%;
    font-size: 14px;
  }

  .navbar .search .icon,
  .navbar .search .search-form .close {
    display: none;
  }

  .navbar-nav .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: none;
    background: #0c0f16;
    text-align: center;
    color: #eee;
  }

  .navbar-nav .dropdown-menu .dropdown-item {
    color: #eee;
  }

  .navbar-nav .dropdown-menu.show {
    display: block;
  }

  .navbar .navbar-nav .nav-link {
    padding: 0;
  }

  .navbar .navbar-nav .nav-link:hover {
    color: #12c2e9;
  }

  .slider .parallax-slider .caption.dig {
    text-align: center;
  }

  .slider .parallax-slider .caption.dig h1 {
    font-size: 60px;
  }

  .slider .parallax-slider .caption.dig h1 .tline {
    margin-left: 0;
  }

  .slider .parallax-slider .caption h1 {
    font-size: 50px;
    letter-spacing: 1px;
  }

  .slider .parallax-slider .caption h1 br {
    display: none;
  }

  .slider-stwo .img {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .slider-stwo:after {
    display: none;
  }

  .freelancre .img {
    margin-bottom: 50px;
  }

  .freelancre .states {
    position: relative;
    margin-top: 80px;
  }

  .freelancre .states ul.flex {
    display: block;
  }

  .freelancre .states ul.flex li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }

  .freelancre .states ul.flex .mail-us {
    float: right;
    margin-bottom: 0;
  }

  .showcase-full .parallax-slider .caption h1 span {
    margin-left: 0;
  }

  .showcase-carus .caption h1,
  .showcase-carus .copy-cap h1 {
    font-size: 60px;
    left: auto;
    margin-left: 20px;
  }

  .circle-slide .swiper-slide .bg-img {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    height: 380px !important;
    width: 380px !important;
    margin: auto !important;
  }

  .circle-slide .swiper-slide.swiper-slide-active .bg-img {
    opacity: 1;
    visibility: visible;
  }

  .showcase-carus.circle-slide .caption h1,
  .showcase-carus.circle-slide .copy-cap h1 {
    font-size: 65px;
  }

  .pages-header .cont h1 {
    font-size: 35px;
  }

  .works-header .capt h1 {
    font-size: 45px;
  }

  .sec-head h3 br {
    display: none;
  }

  .agency .imgsec {
    padding-right: 0;
  }

  .about-cr .img img {
    width: 100%;
    margin: 0;
  }

  .about-cr .cont h3 {
    margin-left: 0;
  }

  .about-cr .cont {
    padding-bottom: 120px;
  }

  .testimonials .item {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .testimonials .container-fluid {
    width: auto;
    margin-left: 0;
  }

  #circle1,
  #circle2,
  #circle3,
  #circle4 {
    display: none;
  }

  .block-sec .vid-area .cont,
  .about .content,
  .skills-box,
  .about-ar .img .hero-bg {
    margin-bottom: 50px;
  }

  .min-area .content,
  .min-area .img {
    padding: 120px 0;
  }

  .services .rtwo > div:nth-of-type(2),
  .services .rone > div:nth-of-type(2) {
    margin-bottom: 0px;
  }

  .services .step-item.xbottom,
  .services .step-item.xtop {
    bottom: auto;
    top: auto;
  }

  .services .step-item {
    margin: 25px 0;
  }

  .block-sec .testim-box {
    margin-bottom: 120px;
  }

  .block-sec .vid-area {
    display: none;
  }

  .portfolio .filtering {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .portfolio-frl .gallery .items,
  .portfolio .gallery .items {
    padding: 0 10px;
    margin: 10px 0;
  }

  .case-study .controls {
    top: 100px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }

  .slider .parallax-slider .caption p {
    margin-left: 0;
  }

  .arch-slider .parallax-slider .explore {
    margin-left: 0;
    margin-top: 50px;
  }

  .blog-grid .item.active {
    margin: 50px 0;
  }

  .footer-half:after {
    width: 100%;
  }

  .footer-half .cont {
    margin-bottom: 50px;
  }

  .next-prog .box .caption h1,
  .next-prog .box .copy-cap h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .sm-mb10 {
    margin-bottom: 10px;
  }

  .sm-mb20 {
    margin-bottom: 20px;
  }

  .sm-mb30 {
    margin-bottom: 30px;
  }

  .sm-mb40 {
    margin-bottom: 40px;
  }

  .sm-mb50 {
    margin-bottom: 50px;
  }

  .sm-mb60 {
    margin-bottom: 60px;
  }

  .sm-mb70 {
    margin-bottom: 70px;
  }

  .sm-mb80 {
    margin-bottom: 80px;
  }

  .sm-pb10 {
    padding-bottom: 10px;
  }

  .sm-pb20 {
    padding-bottom: 20px;
  }

  .sm-pb30 {
    padding-bottom: 30px;
  }

  .sm-pb40 {
    padding-bottom: 40px;
  }

  .sm-pb50 {
    padding-bottom: 50px;
  }

  .sm-pb60 {
    padding-bottom: 60px;
  }

  .sm-pb70 {
    padding-bottom: 70px;
  }

  .sm-pb80 {
    padding-bottom: 80px;
  }

  .container {
    max-width: 540px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .progress-wrap {
    right: 15px;
    bottom: 15px;
  }

  .navbar .logo {
    width: 40px;
  }

  .hamenu .menu-links .main-menu > li {
    font-size: 24px;
  }

  .hamenu .menu-links .main-menu .sub-menu li {
    font-size: 18px;
  }

  .topnav .container-fluid {
    padding: 0 30px;
  }

  .topnav .logo {
    width: 40px;
  }

  .btn-curve {
    padding: 8px 15px;
  }

  .btn-curve span {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .slider .parallax-slider .caption h1 {
    font-size: 40px;
  }

  .slider .parallax-slider .caption h1 br {
    display: none;
  }

  .slider .parallax-slider .swiper-slide-active .caption h1 {
    font-size: 30px;
  }

  .slider .social-icon {
    display: none;
  }

  .slider .setone.setwo .prev-ctrl {
    left: 15px;
    bottom: 15px;
    top: auto;
    width: 45px;
    height: 45px;
    line-height: 45px;
  }

  .slider .setone.setwo .next-ctrl {
    left: 70px;
    bottom: 15px;
    top: auto;
    width: 45px;
    height: 45px;
    line-height: 45px;
  }

  .slider .swiper-pagination-fraction.top.botm {
    right: 15px;
    bottom: 15px;
  }

  .slider .swiper-pagination-fraction.top .swiper-pagination-current {
    font-size: 40px;
  }

  .slider .parallax-slider .caption.dig h1 {
    font-size: 40px;
  }

  .particles .cont h1 {
    font-size: 55px;
  }

  .slider-stwo ul li div {
    display: block;
  }

  .slider-stwo ul li .cont {
    display: block;
    /* vertical-align: auto; */
    padding-left: 0;
    margin-top: 15px;
  }

  .freelancre {
    padding-top: 200px;
    padding-bottom: 0;
    text-align: center;
  }

  .freelancre .img {
    margin-left: auto;
    margin-right: auto;
  }

  .freelancre:after,
  .freelancre .states ul.flex .mail-us {
    display: none;
  }

  .showcase-carus.circle-slide .caption {
    left: 0;
    text-align: center;
  }

  .showcase-carus.circle-slide .copy-cap {
    display: none;
  }

  .showcase-carus .swiper-slide .bg-img {
    margin: 0;
    height: 100vh;
    background-position: center center;
  }

  .showcase-carus.circle-slide .caption h1,
  .showcase-carus.circle-slide .copy-cap h1 {
    font-size: 50px;
    min-width: auto;
    margin: auto !important;
    left: 0;
  }

  .showcase-full .parallax-slider .caption .discover {
    width: 220px;
    height: 220px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .pages-header {
    padding: 120px 0 80px;
    overflow-x: hidden;
  }

  .works-header .capt h2 {
    font-size: 40px;
  }

  .slider.fixed-slider,
  .works-header.hfixd {
    position: static;
  }

  .main-content {
    margin-top: 0 !important;
  }

  .sub-title h6 {
    font-size: 12px;
  }

  .sec-head h3 {
    font-size: 30px;
  }

  .sec-head h6 {
    font-size: 15px;
    letter-spacing: 5px;
  }

  .agency .imgsec .exp {
    margin-bottom: 15px;
  }

  .about .img-mons .img1,
  .about .img-mons .img2,
  .about .img-mons .img3 {
    height: auto;
  }

  .about .img-mons .img1,
  .about .img-mons .img2,
  .about .img-mons .img3 {
    margin-bottom: 10px;
  }

  .about .img-mons .img3 {
    width: 100%;
    margin-top: 0;
  }

  .about-us .img .stauts .item {
    padding: 25px 15px;
    margin-right: 20px;
  }

  .about-us .img .stauts .item:last-of-type {
    margin-right: 0;
  }

  .about-us .img .stauts .item h4 {
    font-size: 30px;
  }

  .about-us .img .stauts .item h4 span {
    font-size: 20px;
  }

  .about-us .img {
    padding: 0;
  }

  .about-cr .cont h3 {
    font-size: 40px;
  }

  .services .step-item {
    padding: 60px 40px;
  }

  .testimonials .item p {
    font-size: 17px;
  }

  .skills-circle {
    padding-bottom: 0 !important;
  }

  .skills-circle .item {
    margin-bottom: 50px;
  }

  .team .navs {
    top: 20px;
  }

  .block-sec .vid-area .cont h3 {
    font-size: 34px;
  }

  .block-sec .testim-box:after {
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
  }

  .call-action .content h2 {
    font-size: 7vw;
  }

  .portfolio .filtering .filter {
    padding: 15px 5px;
    border-radius: 10px;
  }

  .portfolio .filtering span {
    margin: 5px 10px;
  }

  .portfolio .filtering span:after {
    display: none;
  }

  .portfolio-cr .items {
    width: 100% !important;
  }

  .team-crv .img-box .img.sizxl,
  .team-crv .img-box .img.sizmd,
  .team-crv .img-box .img.sizsm {
    width: 100%;
  }

  .blog-pg.blog-list .item .cont {
    padding-left: 15px;
  }

  .blog-pg.single .post .author .author-img,
  .blog-pg.single .post .author .info,
  .blog-pg.single .comments-area .item .comment-img,
  .blog-pg.single .comments-area .item .info {
    display: block;
  }

  .blog-pg.single .post .author .info,
  .blog-pg.single .comments-area .item .info {
    padding-left: 0;
    margin-top: 15px;
  }

  .intro-section .htit {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .hamenu .cont-info {
    display: none;
  }

  .hamenu .menu-links .main-menu > li {
    font-size: 20px;
    padding: 7px;
  }

  .hamenu .menu-links .main-menu .sub-menu li {
    font-size: 16px;
  }

  .topnav .container-fluid {
    padding: 0 15px;
  }

  .slider-bus .caption h1 {
    font-size: 50px;
  }

  .showcase-full .dots {
    display: none;
  }

  .slider .txt-botm .swiper-nav-ctrl.swiper-button-next {
    right: 20px;
  }

  .slider .txt-botm .swiper-nav-ctrl.swiper-button-prev {
    left: 20px;
  }

  .pages-header .cont .path {
    font-size: 15px;
  }

  .pages-header .cont .path span {
    margin: 0 10px;
  }

  .pages-header .capt h1 {
    font-size: 24px;
  }

  .page-header .cont h1 {
    font-size: 40px;
  }

  .slider .swiper-pagination-fraction.steps {
    bottom: 60px;
  }

  .particles .cont h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .circle-slide .swiper-slide .bg-img {
    height: 280px !important;
    width: 280px !important;
  }

  .freelancre .cont h1 {
    font-size: 22px;
  }

  .freelancre .img {
    width: 200px;
    height: 200px;
  }

  .showcase-carus.circle-slide .caption h1,
  .showcase-carus.circle-slide .copy-cap h1 {
    font-size: 40px;
  }

  .works-header .capt h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .pages-header .cont h1 {
    font-size: 20px;
  }

  .sec-head h3 {
    font-size: 20px;
  }

  .sec-head h2 {
    font-size: 55px;
  }

  .about-us .img .stauts {
    display: none;
  }

  .about-ar .img .hero-bg {
    width: 300px;
    height: 300px;
  }

  .about-ar .img .exp {
    width: 240px;
    height: 240px;
  }

  .about-ar .img .exp h2 {
    font-size: 100px;
  }

  .about-ar .content h3 {
    font-size: 35px;
  }

  .services.lficon .item-box {
    display: block;
  }

  .services.lficon .item-box .cont {
    padding-left: 0;
  }

  .min-area .content h4,
  .agency .content h4 {
    font-size: 28px;
  }

  .portfolio .gallery .items {
    padding: 0 15px;
    margin: 0 0 50px;
  }

  .portfolio .gallery .items.lg-mr {
    margin-top: 50px;
  }

  .portfolio .filtering.smplx span {
    margin: 5px 15px;
  }

  .case-study .swiper-slide .cont h4 {
    font-size: 25px;
  }

  .case-study .controls {
    top: 30px;
    right: 30px;
  }

  .case-study .controls .swiper-button-next,
  .case-study .controls .swiper-button-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .block-sec .vid-area .cont h3 {
    font-size: 28px;
  }

  .video .container .stauts {
    display: none;
  }

  .testimonials .item {
    display: block !important;
    padding: 60px 30px;
  }

  .testimonials .item p {
    margin-left: 0;
    padding-left: 0;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  .testimonials .item .info {
    min-width: auto;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }

  .testimonials .item .info .img {
    margin: auto;
  }

  .blog-crv .controls {
    display: none;
  }

  .blog-crv .item .content {
    padding: 30px 15px;
  }

  .blog-list .item {
    display: block;
  }

  .blog-list .item .img {
    width: 100%;
  }

  .blog-list .item .cont {
    padding-left: 0;
    margin-top: 30px;
  }

  .blog-pg.blog-list .item .cont {
    margin-top: 0;
  }

  .blog .item h5 {
    font-size: 20px;
  }

  .blog-pg.single .post .content .share-info {
    display: block;
  }

  .blog-pg.single .post .content .share-info .social,
  .blog-pg.single .post .content .share-info .tags {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
  }

  .blog-pg.single .post .content .share-info .tags {
    margin-top: 5px;
  }

  .blog-pg.single .comments-area .item.relped {
    margin-left: 30px;
  }

  .next-prog .box .bg-img {
    width: 240px;
    height: 240px;
  }

  .next-prog .box .caption h1,
  .next-prog .box .copy-cap h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .next-prog .box .caption h1 .stroke,
  .next-prog .box .copy-cap h1 .stroke {
    display: inline-block;
    color: #fff;
    -webkit-text-stroke: 0px #fff;
  }
}

/* ====================== [ End Responsive ] ====================== */
